@model PagedList<MyProject.EntitiesModel.Jobs>
@using MyProject.EntitiesModel
@using Webdiyer.WebControls.Mvc
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Company/Views/Shared/ComapnyBasePage.cshtml";
}

<div id="divJobList">
    <table class="table table-hover">
        <tr>
            <th>职位类型</th>
            <th>职位名称</th>
            <th>起始薪资</th>
            <th>需求人数</th>
            <th>职位描述</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        @foreach (Jobs item in Model)
        {
            <tr>
                <td>@item.JobType.Name</td>
                <td>@item.JobName</td>
                <td>@item.SalaryLower.ToString("0.##")~@item.SalaryUpper.ToString("0.##") 元</td>
                <td>@item.DemandNum</td>
                <td>@(item.Describe.Length > 20 ? item.Describe.Substring(0, 20) + "...." : item.Describe)</td>
                <td>@item.CreateDate.ToString("d")</td>
                <td>
                    @using (Html.BeginForm())
                    {
                       <input type="hidden" id="@item.JobId.ToString()" name="id" value="@item.JobId"/>
                        <input type="button" name="btnShowJob" value="编辑" class="btn btn-default btn-sm"  />
                        <input type="submit" name="delJob" value="删除" onclick="return confirm('确认删除吗？');" class="btn btn-default btn-sm" />
                    }
                </td>
            </tr>
        }
    </table>
    @Ajax.Pager(Model, new PagerOptions
    {
        AutoHide = false,
        Id = "JobList",
        PageIndexParameterName = "page",
        FirstPageText = "首页",
        PrevPageText = "上一页",
        NextPageText = "下一页",
        LastPageText = "末页",
        ContainerTagName = "ul",
        CssClass = "pagination",
        CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",     
        DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
        PagerItemTemplate = "<li>{0}</li>"
    }, new MvcAjaxOptions { UpdateTargetId = "divJobList" })
</div>

<span>共有 @Model.TotalItemCount 条记录  当前第 @Model.CurrentPageIndex 页</span>

<script src="~/Scripts/company.js"></script>
<script type="text/javascript">
    $('#myTabs li').eq(2).addClass('active');

</script>
